<div class="sub-navbar-add">
    <div class="location_icon">
        <img src="./img/location.png" alt="location_icon" class="location_icon-img">
    </div>
    <span class="delivery_from">
            Delivery from:
            <span class="delivery_from">KFC TAN SON NHI</span>
        </span>
    <div class="time_icon">
        <img src="./img/time_icon.png" alt="location_icon" class="time_icon-img">
    </div>
    <div class="ASAP">
        <span>ASAP</span>
    </div>
    <button class="change_button">
        Change
    </button>
</div>
