.contain {
  background-color: white;
  width: 100wv;
  padding: 30px;
  h2 {
    font-weight: 800;
  }
  .sub-contain {
    width: 100wv;
    padding: 30px;
    display: flex;
    justify-content: center;
    .party-form {
      width: 80%;
      flex-flow: column;
      display: flex;
      align-items: center;
      h5{
        width: fit-content;
        font-weight: 800;
      }
      hr {
        width: 100%;
        margin: 20px 0px;
        border-color: red;
      }
      h6 {
        font-weight: 800;
        font-size: 20px;
        color: red;
      }
      .image-container {
        margin: 50px 0px;
      }
      button {
        border-radius: 12px;
        padding: 20px 30px;
        background-color: red;
        font-weight: 900;
        font-size: 20px;
      }
    }
  }
}