<div class="contain">
    <h2>
        Book your party
    </h2>
    <div class="sub-contain">
        <div class="party-form">
            <h5>Party</h5>
            <hr>
            <h6>SPICE UP YOUR EVENTS WITH FINGER LICKIN' GOOD FOOD</h6>
            <span>Whatever the occasion, we've got you covered.</span>
            <div class="image-container">
                <img src="party-banner/1.png" alt="">
                <img src="party-banner/2.png" alt="">
                <img src="party-banner/3.png" alt="">
                <img src="party-banner/4.png" alt="">
                <img src="party-banner/5.png" alt="">
            </div>
            <button mat-flat-button>BOOK NOW! </button>
        </div>
    </div>
</div>
