<div class="container">
    <div class="sub-container">
        <div class="sub-container-left">
            <img [src]="currentProduct?.image" alt="">
        </div>
        <div class="sub-container-right">
            <div class="sub-container-right-display">
                <h2>{{currentProduct?.title}}</h2>
                <div class="price-contain">
                    @if (currentProduct?.sale_price) {
                        <h4 class="base_price-sale">{{currentProduct?.base_price}}.000<u>đ</u></h4>
                        <h4 class="sale_price-sale">{{currentProduct?.sale_price}}.000<u>đ</u></h4>
                    } @else {
                        <h4>{{currentProduct?.base_price}}.000<u>đ</u></h4>
                    }
                </div>
                <span>{{currentProduct?.description}}</span>
                <hr>
                <div class="interact">
                    <div class="amount-add">
                        <button mat-fab aria-label="Example icon button with a delete icon" class="minus-btn" (click)="decrementAmount()">
                            <mat-icon>remove</mat-icon>
                        </button>
                        <span>{{amount}}</span>
                        <button mat-fab aria-label="Example icon button with a delete icon" class="minus-btn" (click)="incrementAmount()">
                            <mat-icon>add</mat-icon>
                        </button>
                    </div>
                    @if (currentProduct?.sale_price) {
                        <button mat-flat-button class="price" (click)="addToCart()">ADD BUCKET {{totalPrice}}.000<u>đ</u></button>
                    } @else {
                        <button mat-flat-button class="price" (click)="addToCart()">ADD BUCKET {{totalPrice}}.000<u>đ</u></button>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
