<div class="navbar-container">
    <div class="navbar">
        <div class="left-op">
            <div class="left-op-logo">
                <img src="img/KFC_logo-image.png" alt="KFC_logo" class="KFC_logo">
            </div>
            <a href="#" class="nav-op-left">MENU</a>
            <a href="#" class="nav-op-left">DEALS</a>
            <a href="#" class="nav-op-left">BOOKS A PARTY</a>
            <a href="#" class="nav-op-left">FIND A KFC</a>
        </div>
        <div class="right-op">
            <div class="right-op-lang">
                <p>Tiếng Việt</p>
            </div>
            <div class="right-op-profile">
                <img src="img/profile.png" alt="profile_pic" class="profile_pic">
            </div>
            <div class="right-op-chicken">
                <img src="img/chicken_bucket_icon.png" alt="chicken_bucket_icon" class="chicken_bucket_icon">
            </div>
            <div class="right-op-menu">
                <img src="img/menu.png" alt="menu_icon" class="menu_icon">
            </div>
        </div>
    </div>
</div>
