<div class="contain" *ngFor="let item of items">
    <div class="card-container">
        <img [src]="item.image" alt="Recommended Item" (click)="navigateToDetail(item.id)">
        <div class="info-recommend">
            <div class="price-title">
                <span>{{ item.title }}</span>
                <p>{{ item.base_price }}.000<u>đ</u></p>
            </div>
            <button mat-mini-fab aria-label="Example icon button with a menu icon" (click)="addToCart(item)">
                <mat-icon>add</mat-icon>
            </button>
        </div>
    </div>
</div>
