<div class="end-page">
    <div class="ed-pg-r1">
        <div class="ed-pg-c1">
            <h3>Our Food</h3>
            <ul>
                <li><a href="#">Hot Deals</a></li>
                <li><a href="#">New Products</a></li>
                <li><a href="#">Combo for 1</a></li>
                <li><a href="#">Combo for sharing</a></li>
                <li><a href="#">Fried & Roasted</a></li>
                <li><a href="#">Rice - Burger - Pasta</a></li>
                <li><a href="#">Snack</a></li>
                <li><a href="#">Dessert & Drinks</a></li>
            </ul>
        </div>
        <div class="ed-pg-c2">
            <h3>About KFC</h3>
            <ul>
                <li><a href="#">Our Story</a></li>
                <li><a href="#">Promotion News</a></li>
                <li><a href="#">KFC NEWS</a></li>
                <li><a href="#">KFC Jobs</a></li>
                <li><a href="#">Book Your Party</a></li>
                <li><a href="#">Big Order</a></li>
            </ul>
        </div>
        <div class="ed-pg-c3">
            <h3>Contact Us</h3>
            <ul>
                <li><a href="#">Order Tracker</a></li>
                <li><a href="#">Find a KFC</a></li>
                <li><a href="#">Contact Us</a></li>
            </ul>
        </div>
        <div class="ed-pg-c4">
            <h3>Policy</h3>
            <ul>
                <li><a href="#">Operation Policy</a></li>
                <li><a href="#">Terms And Conditions</a></li>
                <li><a href="#">Policy On Information Confidentiality</a></li>
            </ul>
        </div>
        <div class="ed-pg-c5">
            <h3>Download App</h3>
            <div class="ed-pg-c5-img">
                <img src="./download/appstore.png" alt="appstore">
                <img src="./download/chplay.png" alt="chplay">
            </div>
        </div>
    </div>
    <div class="ed-pg-r2">
        <h5>Kentucky Fried Chicken Vietnam Company. All rights reserved.</h5>
        <div class="ed-pg-r2-logo">
            <div class="ed-pg-r2-logo-1">
                <img src="contract/facebook.png" alt="facebook">
            </div>
            <div class="ed-pg-r2-logo-2">
                <img src="contract/instagram.png" alt="instagram">
            </div>
            <div class="ed-pg-r2-logo-3">
                <img src="contract/twitter.png" alt="twitter">
            </div>
            <div class="ed-pg-r2-logo-4">
                <img src="contract/youtube.png" alt="youtube">
            </div>
        </div>
    </div>
    <hr>
    <div class="ed-pg-r3">
        <div class="ed-pg-r3-1">
            <H2>KFC VIETNAM JOINT VENTURE COMPANY LTD.</H2>
            <div class="ed-pg-r3-1-addr">
                <span>292 Ba Trieu St., Le Dai Hanh Ward, Hai Ba Trung Dist., Ha Noi City.</span>
                <span>Tel: (028) 38489828</span>
                <span>'Email: lienhe&#64;kfcvietnam.com.vn</span>
                <span>Tax code: 0100773885</span>
                <span>Date of issue: Oct 29 1998 by Ha Noi Tax Department</span>

            </div>
        </div>
        <div class="ed-pg-r3-2">
            <img src="centify/image.png" alt="Centify logo">
        </div>

    </div>
</div>
