<div class="category-choose">
    <div class="category-choose-sub-contain">
        <span id="btn-to-left" onclick="clickscrollx('cate-chose-ls-1')"><</span>
        <ul class="cate-chose-ls">
            <li class="cate-chose-ls-1" onclick="clickscrollcontaint ('menu-sub-1')">
                HOT DEALS
            </li>
            <li class="cate-chose-ls-2" onclick="clickscrollcontaint ('menu-sub-2')">
                NEW PRODUCTS
            </li>
            <li class="cate-chose-ls-3" onclick="clickscrollcontaint ('menu-sub-3')">
                COMBO FOR 1
            </li>
            <li class="cate-chose-ls-4" onclick="clickscrollcontaint ('menu-sub-4')">
                COMBO FOR SHARING
            </li>
            <li class="cate-chose-ls-5" onclick="clickscrollcontaint ('menu-sub-5')">
                FIRED & ROASTED
            </li>
            <li class="cate-chose-ls-6" onclick="clickscrollcontaint ('menu-sub-6')">
                RICE - BURGER - PASTA
            </li>
            <li class="cate-chose-ls-7" onclick="clickscrollcontaint ('menu-sub-7')">
                SNACK
            </li>
            <li class="cate-chose-ls-8" onclick="clickscrollcontaint ('menu-sub-8')">
                DESSERT & DRINKS
            </li>
        </ul>
        <span id="btn-to-right" onclick="clickscrollx ('cate-chose-ls-8')">></span>
    </div>
</div>

