<div class="category-choose">
    <div class="category-choose-sub-contain">
        <span id="btn-to-left" (click)="clickscrollx('right')"><</span>
        <ul class="cate-chose-ls">
            @for (cate of category; track $index) {

                <li class="cate-chose-ls-{{cate.id}}" (click)="clickscrollcontaint ('container-'+cate.id)">
                    {{ cate.title }}
                </li>
            }
        </ul>
        <span id="btn-to-right" (click)="clickscrollx('left')">></span>
    </div>
</div>

