<div class="container">
    <div class="sub-container">
        <div class="login-banner">
            <img src="./login-img.png" alt="">
        </div>
        <div class="login-side">
            <div class="login-side-form">
                <h3><b>LOGIN</b></h3>
                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Email*</mat-label>
                    <textarea matInput placeholder=""></textarea>
                </mat-form-field>
                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Password*</mat-label>
                    <textarea matInput placeholder=""></textarea>
                </mat-form-field>
                <div class="forgot-password">
                    <a>Forgot Your Password?</a>
                </div>
                <button mat-flat-button class="login">Login</button>
                <h5>Or continue with</h5>
                <button mat-flat-button class="apple">Sign in with Apple</button>
                <button mat-flat-button class="google">Sign in with Google</button>
                <div>
                    Haven’t got an account?
                    <b><a href="/login">Sign Up</a></b>
                </div>
            </div>
        </div>
    </div>
</div>
