/* You can add global styles to this file, and also import other style files */
body {
  font-family: "Oswald", serif;
  padding: 0px;
  margin: 0px;
  overflow: hidden;
}

html {
  font-family: "Oswald", serif;
}

